/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Style for the dropdown  button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Changes the background color of the dropdown button when the dropdown content is shown via cursor hover */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,0.2);
    z-index: 1;
}

/* Style for the dropdown items */
.dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
}

/* change color of dropdown links on hover */
.dropdonw-content a:hover {
    background-color: #a5a5a5;
}